// hero section start
    .heroSection{
        padding-top: 150px;
        height: 100vh;
        & .mySubheading{
            background-color: #F2F2F2;
            display: inline-flex;
            padding: 2px 20px 2px 20px;
            border-radius: 100px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        & .myHeading{}
        & .mytxt{
            padding: 15px 0 0 40px;
        }
        & .body_Animation{
            padding: 75px 0 0 40px;
            & .waivyanc{
                font-size: 21px;
            }
            & .waviy{
                position: relative;
                font-size: 21;
                font-weight: 700;
                padding: 14px;
                & span{
                    transition: all .3s ease-in-out;
                }
                & .rotatetxt{
                }
            }
            & .pinkImage{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    background: linear-gradient(90deg,#ff7369 0%,#ffb06d 100%);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    z-index: -1;
                    top: 50%;
                    transform: translateY(-50%);
                    clip-path: polygon(54% 9%, 83% 12%, 100% 43%, 94% 85%, 68% 100%, 32% 100%, 6% 78%, 3% 34%, 30% 18%);
                    right: -35px;
                }
            }
            &:hover{
                & .waviy{
                    & span{
                        position: relative;
                        display: inline-block;
                        animation: flip .3s 1;
                        animation-delay: calc(.11s*var(--i));
                    }
                }
            }
        }
        @keyframes flip{
            50% {
                // transform: rotateY(360deg);
                transform: scaleX(0);
            }
        }
    }
// hero section Ends

// setion Two start
    .setionTwo{
        background-color: $black;
        & .BigIamge{
            overflow: hidden;
            border-radius: 15px;
            margin-top: -300px;
            aspect-ratio: 2/1;
            & img{
                overflow: hidden;
                transform: scale3d(1.5,1.5,1);
                transition: transform 5s ease-in-out;
            }
            
        }
        &:hover{
            & img{
                transform: scale(1);
            }
        }
        & .content{
            margin-top: 120px;
        }
        & .cardRow{
            margin-block: 100px;
            & .mainCard{
                position: relative;
                transition: all .3s ease-in-out;
                padding-left: 20px;
                padding-block: 20px;
                & .cardImg{
                    height: 50px;
                    width: 50px;
                    transition: all .3s ease-in-out;
                    & img{
                        filter: contrast(0);
                        transition: all .3s ease-in-out;
                        transform: rotate(360deg);
                    }
                }
                & .cardHeading{
                    padding-top: 30px;
                }
                & .cardbtn{
                    height: 20px;
                    width: 20px;
                    margin-top: 30px;
                    & img{
                        filter: contrast(0);
                        transition: all .3s ease-in-out;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0%;
                    height: 100%;
                    width: 1px;
                    background-color: #F2F2F2;
                    opacity: 0.4;
                }
                &:hover{
                    & .cardImg{
                        & img{
                            transform: rotate(-360deg) scale(1.1);
                            filter: none;
                        }
                    }
                    & .cardbtn{
                        & img{
                            filter: none;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
// setion Two Ends