// For Normal Text

.body_text{
    color: $black;
    font-size: 15px;
    font-weight: 400;
    line-height: 143%;
    @include sm{
        font-size: 16px;
    }
    @include md{
        font-size: 17px;
    }
    @include lg{
        font-size: 18px;
    }
    @include xl{
        font-size: 20px;
    }
}

.body_text_small{
    font-size: 16px;
    line-height: 1.6;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_text_large{
    font-size: 15px;
    color: $black;
    line-height: 130%;
    @include sm{
        font-size: 16px;
    }
    @include md{
        font-size: 17px;
    }
    @include lg{
        font-size: 18px;
    }
    
}

// For Space Between Sections Must Apply On Container Fluid

.section_spacing{
    padding-block: 1.5rem;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        padding-block: 2.5rem;
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For Dark Theme and Light Theme

.bg_drak{
    background-color: $black;
}

.bg_light{
    background-color: #F8F9FA;
}

// For Heading

.body_heading{
    color: $black;
    font-size: 25px;
    font-weight: 600;
    line-height: 130%;
    @include sm{
        font-size: 35px;
    }
    @include md{
        font-size: 36px;
    }
    @include lg{
        font-size: 42px;
    }
    @include xl{
        font-size: 51px;
    }@include xxl{
        font-size: 59px;
    }
}

.body_heading_small{
    font-size: 17px;
    font-weight: 600;
    color: $black;
    @include sm{
        font-size: 18px;
    }
    @include md{
        font-size: 16px;
    }
    @include lg{
        font-size: 20px;
    }
    @include xl{
        font-size: 22px;
    }@include xxl{
        font-size: 25px;
    }
}

.body_heading_large{
    color: $black;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    @include sm{
        font-size: 30px;
    }
    @include md{
        font-size: 35px;
    }
    @include lg{
        font-size: 30px;
    }
    @include xl{
        font-size: 40px;
    }@include xxl{
        font-size: 48px;
    }
}

// For Subheading

.body_subheading{
    font-size: 15px;
    font-weight: 600;
    color: $black;
    @include lg{
        font-size: 17px;
    }
    @include xl{
        font-size: 20px;
    }@include xxl{
        font-size: 22px;
    }
}

.body_subheading_small{
    font-size: 13px;
    font-weight: 700;
    color: $black;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_subheading_large{
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    color: $black;
    @include sm{
        font-size: 20px;        
    }
    @include md{
        font-size: 22px;        
    }
    @include xl{
        font-size: 24px;
    }@include xxl{
        font-size: 29px;
    }
}
.opColor{
    color: #A7BABA;
}
body{
    font-family: Montserrat !important;
}